.navbar{
    display: flex;
}
.nav-item a{
    color: white;
}
.nav-item a:first-child{
    margin-left: 100px;
}

.nav-item a:hover{
    color: yellow;
}
.nav-item a:focus{
    color: yellow;
}
.container {
    background-color: #f8f9fa;
    padding: 20px 0 0 20%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
}

.user-title{
    margin: 100px 0 20px 36%;
}
.fa-pen{
    margin-left: 50px;
    cursor: pointer;
}
.fa-user-xmark{
    margin-left: 50px;
    cursor: pointer;
}
.nav-item{
    display: flex;
}

.fa-user-plus{
    color: white;
    cursor: pointer;
    padding-top: 13px;
    text-decoration: none;
}
.fa-plus{
    color: white;
    cursor: pointer;
    padding-top: 14px;
    text-decoration: none;
}

.create-user{
    margin: 30px 0 0 29%;
}
.new-user{
    width: 700px;
    margin: 20px 0 0 25%;
}
.new-user-btn{
    width: 200px;
    height: 50px;
    margin-left: 37%;
}

.td-avatar{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.td-name{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.td-email{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.td-role{
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.td-password{
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.td-buttons{
    margin-left: 100px;
}
.update-btn{
    text-decoration: none;
    color: #1a202c;
}
.update-btn:hover{
    color: #1a202c;
}
.update-user{
    margin: 30px 0 0 26%;
}
.update-user-info{
    width: 700px;
    margin: 20px 0 0 27%;
}
.update-user-btn{
    width: 200px;
    height: 50px;
    color: white;
    margin-left: 37%;
}
.fa-file-arrow-down{
    text-decoration: none;
    margin-top: 15px;
    color: white;
}
.fa-file-arrow-down:hover{
    color: white;
    cursor: pointer;
}
.fa-envelope{
    text-decoration: none;
    margin: 16px 0 0 20px;
    width: 30px;
    height: 20px;
    color: white;
}
.send-email{
    width: 700px;
    margin: 150px 0 0 27%;
}
.send-email-btn{
    width: 200px;
    height: 50px;
    color: white;
    margin-left: 37%;
}
.fa-right-from-bracket{
    text-decoration: none;
    width: 30px;
    height: 20px;
    color: white;
}
.logout{
    margin-right: 100px;
}
.logout-btn{
    width: 80px;
    height: 30px;
    margin: 10px 0 0 30px;
    background-color: white;
    color: #1a202c;
    border-radius: 5px;
    border: none;
}

.course-title{
    margin: 100px 0 20px 40%;
}
.fa-trash{
    margin-left: 20px;
    cursor: pointer;
}

.create-course{
    margin: 30px 0 0 35%;
}

.new-course{
    width: 700px;
    margin: 20px 0 0 27%;
}
.update-course{
    margin: 30px 0 0 35%;
}
.update-course-info{
    width: 700px;
    margin: 20px 0 0 27%;
}
